.movies-list {
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */

}

.movies-list > .items {
 display: grid;
 grid-template-columns: auto auto auto auto;
 justify-content: center;
}

.movies-list > .sorter {
  /* width: 20%; */
  margin: 2%;
}

.expanded-movie-item {
  width: 60%;
  display: flex;
  flex-direction: row;
}


.expanded-movie-item h4 {
  display: inline;
}

/* .expanded-movie-item  > .description {
  display: flex;
  flex-direction: column;
} */
.description span {
  font-weight: 100;
}

.movie-list-item {
  cursor: pointer;
  background-color: #256;
  /* width: 330px; */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.movie-list-item:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.movie-list-item.selected {
  text-decoration: underline;
}

.poster{
  width: 75%;
  padding: 30px;
}